#root {
  padding: 20px;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --bg-color: hsla(
    30.81081081081082,
    40.217391304347814%,
    63.921568627450974%,
    1
  );
  --bg-color-light: rgb(235, 205, 173);
}

/* General Styles */
.container {
  width: 25vw;
}

button {
  font-weight: bolder;
}

input,
textarea {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 5px 0;
}

textarea {
  width: 100%;
}

.bg-color-btn {
  color: black;
  background-color: var(--bg-color);
}

.bg-color-btn:hover {
  background-color: var(--bg-color-light);
}

.back-btn {
  font-weight: bolder;
  padding: 5px 15px;
  /* transition: background-color 0.2s; */
  margin-bottom: 10px;
}

.qty-btn {
  padding: 0 10px 4px 10px;
}

.Start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Menu.jsx Styles */
.Menu {
  position: relative;
  padding-bottom: 30px;
}

.Menu .category-title {
  margin-top: 20px;
}

.menu-item {
  margin: 5px 0;
}

#cart-btn {
  position: fixed;
  bottom: 15px;
}

#cart-items-length {
  /* padding-top: 1px; */
  /* padding-right: 1px; */
  margin-left: 5px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: black;
  background-color: white;
}

/* MenuItem.jsx Styles  */
.MenuItem {
  position: relative;
  max-width: 60vw;
}

.MenuItem h2 {
  margin: 10px 0 10px 0;
}

.MenuItem .option-group-name {
  font-weight: bold;
  margin-bottom: 3px;
}
.add-to-cart-btn {
  margin-top: 10px;
}

/* Cart.jsx Styles */
.Cart h2 {
  margin-bottom: 5px;
}

.Cart h3 {
  text-align: center;
  padding: 5px 0;
  margin: 20px 0;
  background-color: var(--bg-color);
  border-radius: 5px;
}

.Cart h3 span {
  margin-left: 5px;
}

.Cart textarea {
  border: 1px solid black;
}

/* Checkout.jsx Styles  */
.Checkout h2 {
  margin-bottom: 10px;
}

.Checkout input[type="text"],
.Checkout .pickup-info input,
.Checkout .pickup-info select {
  margin-bottom: 10px;
}

/* Confirmation.jsx Styles  */
.Confirmation {
  text-align: center;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 50vw;
  }
}

@media only screen and (max-width: 480px) {
  #root {
    padding: 10px;
  }

  .container {
    width: 80vw;
  }
}
